<%= form_for @brand, :html => { :class => "form-horizontal brand" } do |f| %>

    <% if @brand.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@brand.errors.count, "error") %> prohibited this brand from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @brand.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'form-control' %>
    </div>
    <%= error_span(@brand[:name]) %>
  </div>
  <div class="control-group">
    <%= f.label :position, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :position, :class => 'form-control' %>
    </div>
    <%= error_span(@brand[:position]) %>
  </div>
  <div class="control-group">
    <%= f.label :visible, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :visible, :class => 'form-control' %>
    </div>
    <%= error_span(@brand[:visible]) %>
  </div>
  <div class="control-group">
    <%= f.label :permalink, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :permalink, :class => 'form-control' %>
    </div>
    <%= error_span(@brand[:permalink]) %>
  </div>
  <div class="control-group">
    <%= f.label :counter, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :counter, :class => 'form-control' %>
    </div>
    <%= error_span(@brand[:counter]) %>
  </div>
  <div class="control-group">
    <%= f.label :description, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :description, :rows => "5", :class => 'form-control' %>
    </div>
    <%= error_span(@brand[:description]) %>
  </div>
  <div class="control-group">
    <%= f.label :icon_file_name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :icon_file_name, :class => 'form-control' %>
    </div>
    <%= error_span(@brand[:icon_file_name]) %>
  </div>
  <div class="control-group">
    <%= f.label :icon, :class => 'control-label' %>
    <div class="controls">
      <%= f.file_field :icon, :class => 'form-control' %>
    </div>
    <%= error_span(@brand[:icon_content_type]) %>
    <br>
  </div>


  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            brands_path, :class => 'btn btn-default' %>

<% end %>
