<%= form_for @car, :html => { :class => "form-horizontal car" } do |f| %>

    <% if @car.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@car.errors.count, "error") %> prohibited this car from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @car.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>
  <div class="control-group">
    <%= f.label :model_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.select(:model_id, @models.map {|p| [p.name, p.id] }, :class => 'form-control') %>
    </div>
    <%= error_span(@car[:model_id]) %>
  </div>
  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'form-control' %>
    </div>
    <%= error_span(@car[:name]) %>
  </div>
  <div class="control-group">
    <%= f.label :position, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :position, :class => 'form-control' %>
    </div>
    <%= error_span(@car[:position]) %>
  </div>
  <div class="control-group">
    <%= f.label :visible, :class => 'control-label' %>
    <div class="controls">
      <%= f.check_box :visible, :class => 'form-control' %>
    </div>
    <%= error_span(@car[:visible]) %>
  </div>
  <div class="control-group">
    <%= f.label :permalink, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :permalink, :class => 'form-control' %>
    </div>
    <%= error_span(@car[:permalink]) %>
  </div>
  <div class="control-group">
    <%= f.label :counter, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :counter, :class => 'form-control' %>
    </div>
    <%= error_span(@car[:counter]) %>
  </div>
  <div class="control-group">
    <%= f.label :description, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :description, :rows => "5", :class => 'form-control' %>
    </div>
    <%= error_span(@car[:description]) %>
  </div>
  <div class="control-group">
    <%= f.label :year, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :year, :class => 'form-control' %>
    </div>
    <%= error_span(@car[:year]) %>
  </div>
  <div class="control-group">
    <%= f.label :image_file_name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :image_file_name, :class => 'form-control' %>
    </div>
    <%= error_span(@car[:image_file_name]) %>
  </div>
  <div class="control-group">
    <%= f.label :image, :class => 'control-label' %>
    <div class="controls">
      <%= f.file_field :image, :class => 'form-control' %>
    </div>
    <%= error_span(@car[:image_content_type]) %>
  </div>





  <h1>Specs</h1>







  <div class="control-group">
  <%= f.label :motorCapacity, :class => 'control-label' %>
  <div class="controls">
  <%= f.text_field :motorCapacity, :class => 'form-control' %>
  </div>
  <%= error_span(@car[:motorCapacity]) %>
  </div>
  <div class="control-group">
  <%= f.label :gearBox, :class => 'control-label' %>
  <div class="controls">
  <%= f.text_field :gearBox, :class => 'form-control' %>
  </div>
  <%= error_span(@car[:gearBox]) %>
  </div>
  <div class="control-group">
  <%= f.label :numberOfShifts, :class => 'control-label' %>
  <div class="controls">
  <%= f.text_field :numberOfShifts, :class => 'form-control' %>
  </div>
  <%= error_span(@car[:numberOfShifts]) %>
  </div>
  <div class="control-group">
  <%= f.label :carShape, :class => 'control-label' %>
  <div class="controls">
  <%= f.text_field :carShape, :class => 'form-control' %>
  </div>
  <%= error_span(@car[:carShape]) %>
  </div>
  <div class="control-group">
  <%= f.label :cylinders, :class => 'control-label' %>
  <div class="controls">
  <%= f.text_field :cylinders, :class => 'form-control' %>
  </div>
  <%= error_span(@car[:cylinders]) %>
  </div>
  <div class="control-group">
  <%= f.label :sababat, :class => 'control-label' %>
  <div class="controls">
  <%= f.text_field :sababat, :class => 'form-control' %>
  </div>
  <%= error_span(@car[:sababat]) %>
  </div>
  <div class="control-group">
  <%= f.label :fuelType, :class => 'control-label' %>
  <div class="controls">
  <%= f.text_field :fuelType, :class => 'form-control' %>
  </div>
  <%= error_span(@car[:fuelType]) %>
  </div>
  <div class="control-group">
  <%= f.label :fuelInjectionType, :class => 'control-label' %>
  <div class="controls">
  <%= f.text_field :fuelInjectionType, :class => 'form-control' %>
  </div>
  <%= error_span(@car[:fuelInjectionType]) %>
  </div>
  <div class="control-group">
  <%= f.label :torque, :class => 'control-label' %>
  <div class="controls">
  <%= f.text_field :torque, :class => 'form-control' %>
  </div>
  <%= error_span(@car[:torque]) %>
  </div>
  <div class="control-group">
  <%= f.label :horsePower, :class => 'control-label' %>
  <div class="controls">
  <%= f.text_field :horsePower, :class => 'form-control' %>
  </div>
  <%= error_span(@car[:horsePower]) %>
  </div>
  <div class="control-group">
  <%= f.label :acceleration, :class => 'control-label' %>
  <div class="controls">
  <%= f.text_field :acceleration, :class => 'form-control' %>
  </div>
  <%= error_span(@car[:acceleration]) %>
  </div>
  <div class="control-group">
  <%= f.label :traction, :class => 'control-label' %>
  <div class="controls">
  <%= f.text_field :traction, :class => 'form-control' %>
  </div>
  <%= error_span(@car[:traction]) %>
  </div>
  <div class="control-group">
  <%= f.label :doorsNumber, :class => 'control-label' %>
  <div class="controls">
  <%= f.text_field :doorsNumber, :class => 'form-control' %>
  </div>
  <%= error_span(@car[:doorsNumber]) %>
  </div>
  <div class="control-group">
  <%= f.label :seatsNumber, :class => 'control-label' %>
  <div class="controls">
  <%= f.text_field :seatsNumber, :class => 'form-control' %>
  </div>
  <%= error_span(@car[:seatsNumber]) %>
  </div>
  <div class="control-group">
  <%= f.label :averageFuelConsumption, :class => 'control-label' %>
  <div class="controls">
  <%= f.text_field :averageFuelConsumption, :class => 'form-control' %>
  </div>
  <%= error_span(@car[:averageFuelConsumption]) %>
  </div>
  <div class="control-group">
  <%= f.label :tankCapacity, :class => 'control-label' %>
  <div class="controls">
  <%= f.text_field :tankCapacity, :class => 'form-control' %>
  </div>
  <%= error_span(@car[:tankCapacity]) %>
  </div>
  <div class="control-group">
  <%= f.label :carHeight, :class => 'control-label' %>
  <div class="controls">
  <%= f.text_field :carHeight, :class => 'form-control' %>
  </div>
  <%= error_span(@car[:carHeight]) %>
  </div>
  <div class="control-group">
  <%= f.label :highestSpeed, :class => 'control-label' %>
  <div class="controls">
  <%= f.text_field :highestSpeed, :class => 'form-control' %>
  </div>
  <%= error_span(@car[:highestSpeed]) %>
  </div>
  <div class="control-group">
  <%= f.label :airbagsnumber, :class => 'control-label' %>
  <div class="controls">
  <%= f.text_field :airbagsnumber, :class => 'form-control' %>
  </div>
  <%= error_span(@car[:airbagsnumber]) %>
  </div>
  <div class="control-group">
  <%= f.label :electronicChairs, :class => 'control-label' %>
  <div class="controls">
  <%= f.text_field :electronicChairs, :class => 'form-control' %>
  </div>
  <%= error_span(@car[:electronicChairs]) %>
  </div>
  <div class="control-group">
  <%= f.label :ABS, :class => 'control-label' %>
  <div class="controls">
  <%= f.text_field :ABS, :class => 'form-control' %>
  </div>
  <%= error_span(@car[:ABS]) %>
  </div>
  <div class="control-group">
  <%= f.label :EBD, :class => 'control-label' %>
  <div class="controls">
  <%= f.text_field :EBD, :class => 'form-control' %>
  </div>
  <%= error_span(@car[:EBD]) %>
  </div>
  <div class="control-group">
  <%= f.label :ESP, :class => 'control-label' %>
  <div class="controls">
  <%= f.text_field :ESP, :class => 'form-control' %>
  </div>
  <%= error_span(@car[:ESP]) %>
  </div>
  <div class="control-group">
  <%= f.label :stealInzar, :class => 'control-label' %>
  <div class="controls">
  <%= f.text_field :stealInzar, :class => 'form-control' %>
  </div>
  <%= error_span(@car[:stealInzar]) %>
  </div>
  <div class="control-group">
  <%= f.label :stealImbolizerSystem, :class => 'control-label' %>
  <div class="controls">
  <%= f.text_field :stealImbolizerSystem, :class => 'form-control' %>
  </div>
  <%= error_span(@car[:stealImbolizerSystem]) %>
  </div>
  <div class="control-group">
  <%= f.label :sportWheels, :class => 'control-label' %>
  <div class="controls">
  <%= f.text_field :sportWheels, :class => 'form-control' %>
  </div>
  <%= error_span(@car[:sportWheels]) %>
  </div>
  <div class="control-group">
  <%= f.label :wheelSize, :class => 'control-label' %>
  <div class="controls">
  <%= f.text_field :wheelSize, :class => 'form-control' %>
  </div>
  <%= error_span(@car[:wheelSize]) %>
  </div>
  <div class="control-group">
  <%= f.label :fogLights, :class => 'control-label' %>
  <div class="controls">
  <%= f.text_field :fogLights, :class => 'form-control' %>
  </div>
  <%= error_span(@car[:fogLights]) %>
  </div>
  <div class="control-group">
  <%= f.label :electronicClosingMirrors, :class => 'control-label' %>
  <div class="controls">
  <%= f.text_field :electronicClosingMirrors, :class => 'form-control' %>
  </div>
  <%= error_span(@car[:electronicClosingMirrors]) %>
  </div>
  <div class="control-group">
  <%= f.label :zinonLights, :class => 'control-label' %>
  <div class="controls">
  <%= f.text_field :zinonLights, :class => 'form-control' %>
  </div>
  <%= error_span(@car[:zinonLights]) %>
  </div>
  <div class="control-group">
  <%= f.label :lightsSensor, :class => 'control-label' %>
  <div class="controls">
  <%= f.text_field :lightsSensor, :class => 'form-control' %>
  </div>
  <%= error_span(@car[:lightsSensor]) %>
  </div>
  <div class="control-group">
  <%= f.label :LEDLights, :class => 'control-label' %>
  <div class="controls">
  <%= f.text_field :LEDLights, :class => 'form-control' %>
  </div>
  <%= error_span(@car[:LEDLights]) %>
  </div>
  <div class="control-group">
  <%= f.label :spoiler, :class => 'control-label' %>
  <div class="controls">
  <%= f.text_field :spoiler, :class => 'form-control' %>
  </div>
  <%= error_span(@car[:spoiler]) %>
  </div>
  <div class="control-group">
  <%= f.label :electronicTara, :class => 'control-label' %>
  <div class="controls">
  <%= f.text_field :electronicTara, :class => 'form-control' %>
  </div>
  <%= error_span(@car[:electronicTara]) %>
  </div>
  <div class="control-group">
  <%= f.label :parkingAssist, :class => 'control-label' %>
  <div class="controls">
  <%= f.text_field :parkingAssist, :class => 'form-control' %>
  </div>
  <%= error_span(@car[:parkingAssist]) %>
  </div>
  <div class="control-group">
  <%= f.label :parkinSensor, :class => 'control-label' %>
  <div class="controls">
  <%= f.text_field :parkinSensor, :class => 'form-control' %>
  </div>
  <%= error_span(@car[:parkinSensor]) %>
  </div>
  <div class="control-group">
  <%= f.label :backCamera, :class => 'control-label' %>
  <div class="controls">
  <%= f.text_field :backCamera, :class => 'form-control' %>
  </div>
  <%= error_span(@car[:backCamera]) %>
  </div>
  <div class="control-group">
  <%= f.label :engineStart, :class => 'control-label' %>
  <div class="controls">
  <%= f.text_field :engineStart, :class => 'form-control' %>
  </div>
  <%= error_span(@car[:engineStart]) %>
  </div>
  <div class="control-group">
  <%= f.label :smartKey, :class => 'control-label' %>
  <div class="controls">
  <%= f.text_field :smartKey, :class => 'form-control' %>
  </div>
  <%= error_span(@car[:smartKey]) %>
  </div>
  <div class="control-group">
  <%= f.label :AUX, :class => 'control-label' %>
  <div class="controls">
  <%= f.text_field :AUX, :class => 'form-control' %>
  </div>
  <%= error_span(@car[:AUX]) %>
  </div>
  <div class="control-group">
  <%= f.label :bluetooth, :class => 'control-label' %>
  <div class="controls">
  <%= f.text_field :bluetooth, :class => 'form-control' %>
  </div>
  <%= error_span(@car[:bluetooth]) %>
  </div>
  <div class="control-group">
  <%= f.label :ChargingSystem, :class => 'control-label' %>
  <div class="controls">
  <%= f.text_field :ChargingSystem, :class => 'form-control' %>
  </div>
  <%= error_span(@car[:ChargingSystem]) %>
  </div>
  <div class="control-group">
  <%= f.label :CD, :class => 'control-label' %>
  <div class="controls">
  <%= f.text_field :CD, :class => 'form-control' %>
  </div>
  <%= error_span(@car[:CD]) %>
  </div>
  <div class="control-group">
  <%= f.label :USB, :class => 'control-label' %>
  <div class="controls">
  <%= f.text_field :USB, :class => 'form-control' %>
  </div>
  <%= error_span(@car[:USB]) %>
  </div>
  <div class="control-group">
  <%= f.label :electronicCarGlass, :class => 'control-label' %>
  <div class="controls">
  <%= f.text_field :electronicCarGlass, :class => 'form-control' %>
  </div>
  <%= error_span(@car[:electronicCarGlass]) %>
  </div>
  <div class="control-group">
  <%= f.label :multiTara, :class => 'control-label' %>
  <div class="controls">
  <%= f.text_field :multiTara, :class => 'form-control' %>
  </div>
  <%= error_span(@car[:multiTara]) %>
  </div>
  <div class="control-group">
  <%= f.label :multiKey, :class => 'control-label' %>
  <div class="controls">
  <%= f.text_field :multiKey, :class => 'form-control' %>
  </div>
  <%= error_span(@car[:multiKey]) %>
  </div>
  <div class="control-group">
  <%= f.label :controlDriverSeatHeight, :class => 'control-label' %>
  <div class="controls">
  <%= f.text_field :controlDriverSeatHeight, :class => 'form-control' %>
  </div>
  <%= error_span(@car[:controlDriverSeatHeight]) %>
  </div>
  <div class="control-group">
  <%= f.label :leatherTara, :class => 'control-label' %>
  <div class="controls">
  <%= f.text_field :leatherTara, :class => 'form-control' %>
  </div>
  <%= error_span(@car[:leatherTara]) %>
  </div>
  <div class="control-group">
  <%= f.label :leatherFarsh, :class => 'control-label' %>
  <div class="controls">
  <%= f.text_field :leatherFarsh, :class => 'form-control' %>
  </div>
  <%= error_span(@car[:leatherFarsh]) %>
  </div>
  <div class="control-group">
  <%= f.label :constantSpeedControl, :class => 'control-label' %>
  <div class="controls">
  <%= f.text_field :constantSpeedControl, :class => 'form-control' %>
  </div>
  <%= error_span(@car[:constantSpeedControl]) %>
  </div>
  <div class="control-group">
  <%= f.label :leatherGearbox, :class => 'control-label' %>
  <div class="controls">
  <%= f.text_field :leatherGearbox, :class => 'form-control' %>
  </div>
  <%= error_span(@car[:leatherGearbox]) %>
  </div>
  <div class="control-group">
  <%= f.label :storagePlacesFront, :class => 'control-label' %>
  <div class="controls">
  <%= f.text_field :storagePlacesFront, :class => 'form-control' %>
  </div>
  <%= error_span(@car[:storagePlacesFront]) %>
  </div>
  <div class="control-group">
  <%= f.label :storagePlacesBack, :class => 'control-label' %>
  <div class="controls">
  <%= f.text_field :storagePlacesBack, :class => 'form-control' %>
  </div>
  <%= error_span(@car[:storagePlacesBack]) %>
  </div>
  <div class="control-group">
  <%= f.label :storagePlacesColonswa, :class => 'control-label' %>
  <div class="controls">
  <%= f.text_field :storagePlacesColonswa, :class => 'form-control' %>
  </div>
  <%= error_span(@car[:storagePlacesColonswa]) %>
  </div>
  <div class="control-group">
  <%= f.label :packingBackChairs, :class => 'control-label' %>
  <div class="controls">
  <%= f.text_field :packingBackChairs, :class => 'form-control' %>
  </div>
  <%= error_span(@car[:packingBackChairs]) %>
  </div>
  <div class="control-group">
  <%= f.label :cigaretteLighter, :class => 'control-label' %>
  <div class="controls">
  <%= f.text_field :cigaretteLighter, :class => 'form-control' %>
  </div>
  <%= error_span(@car[:cigaretteLighter]) %>
  </div>
  <div class="control-group">
  <%= f.label :centerLock, :class => 'control-label' %>
  <div class="controls">
  <%= f.text_field :centerLock, :class => 'form-control' %>
  </div>
  <%= error_span(@car[:centerLock]) %>
  </div>
  <div class="control-group">
  <%= f.label :backSeatsAC, :class => 'control-label' %>
  <div class="controls">
  <%= f.text_field :backSeatsAC, :class => 'form-control' %>
  </div>
  <%= error_span(@car[:backSeatsAC]) %>
  </div>
  <div class="control-group">
  <%= f.label :mas7atSensors, :class => 'control-label' %>
  <div class="controls">
  <%= f.text_field :mas7atSensors, :class => 'form-control' %>
  </div>
  <%= error_span(@car[:mas7atSensors]) %>
  </div>
  <div class="control-group">
  <%= f.label :trunkCapacity, :class => 'control-label' %>
  <div class="controls">
  <%= f.text_field :trunkCapacity, :class => 'form-control' %>
  </div>
  <%= error_span(@car[:trunkCapacity]) %>
  </div>
  <div class="control-group">
  <%= f.label :ta2felType, :class => 'control-label' %>
  <div class="controls">
  <%= f.text_field :ta2felType, :class => 'form-control' %>
  </div>
  <%= error_span(@car[:ta2felType]) %>
  </div>
  <div class="control-group">
  <%= f.label :turboEngine, :class => 'control-label' %>
  <div class="controls">
  <%= f.text_field :turboEngine, :class => 'form-control' %>
  </div>
  <%= error_span(@car[:turboEngine]) %>
  </div>
  <div class="control-group">
  <%= f.label :engineType, :class => 'control-label' %>
  <div class="controls">
  <%= f.text_field :engineType, :class => 'form-control' %>
  </div>
  <%= error_span(@car[:engineType]) %>
  </div>
  <div class="control-group">
  <%= f.label :gearBoxType, :class => 'control-label' %>
  <div class="controls">
  <%= f.text_field :gearBoxType, :class => 'form-control' %>
  </div>
  <%= error_span(@car[:gearBoxType]) %>
  </div>
  <div class="control-group">
  <%= f.label :price, :class => 'control-label' %>
  <div class="controls">
  <%= f.text_field :price, :class => 'form-control' %>
  </div>
  <%= error_span(@car[:price]) %>
  </div>

  <div class="control-group">
  <%= f.label :price2, :class => 'control-label' %>
  <div class="controls">
  <%= f.text_field :price2, :class => 'form-control' %>
  </div>
  <%= error_span(@car[:price2]) %>
  </div>

  <div class="control-group">
  <%= f.label :additional, :class => 'control-label' %>
  <div class="controls">
  <%= f.text_field :additional, :class => 'form-control' %>
  </div>
  <%= error_span(@car[:additional]) %>
  </div>
  <div class="control-group">
  <%= f.label :additional2, :class => 'control-label' %>
  <div class="controls">
  <%= f.text_field :additional2, :class => 'form-control' %>
  </div>
  <%= error_span(@car[:additional2]) %>
  </div>
  <div class="control-group">
  <%= f.label :additional3, :class => 'control-label' %>
  <div class="controls">
  <%= f.text_field :additional3, :class => 'form-control' %>
  </div>
  <%= error_span(@car[:additional3]) %>
  </div>
  <div class="control-group">
  <%= f.label :additional4, :class => 'control-label' %>
  <div class="controls">
  <%= f.text_field :additional4, :class => 'form-control' %>
  </div>
  <%= error_span(@car[:additional4]) %>
  </div>
  <div class="control-group">
  <%= f.label :additional5, :class => 'control-label' %>
  <div class="controls">
  <%= f.text_field :additional5, :class => 'form-control' %>
  </div>
  <%= error_span(@car[:additional5]) %>
  </div>
  <div class="control-group">
  <%= f.label :additional6, :class => 'control-label' %>
  <div class="controls">
  <%= f.text_field :additional6, :class => 'form-control' %>
  </div>
  <%= error_span(@car[:additional6]) %>
  </div>
  <div class="control-group">
  <%= f.label :additional7, :class => 'control-label' %>
  <div class="controls">
  <%= f.text_field :additional7, :class => 'form-control' %>
  </div>
  <%= error_span(@car[:additiona7l]) %>
  </div>
  <div class="control-group">
  <%= f.label :additional8, :class => 'control-label' %>
  <div class="controls">
  <%= f.text_field :additional8, :class => 'form-control' %>
  </div>
  <%= error_span(@car[:additional8]) %>
  </div>

  

  <br>
  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            cars_path, :class => 'btn btn-default' %>

<% end %>
